mat-card {
    width: 600px;
    margin: 2rem auto;
  }
  
  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button[type="submit"] {
    display: block;
    margin: 0 auto;
  }