<mat-accordion>
    <mat-expansion-panel *ngFor="let year of years">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{year}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel *ngFor="let month of months" (opened)="onMonthSelect(year,month)">
            <mat-expansion-panel-header >
                <mat-panel-title>
                    {{month}}
                </mat-panel-title>
                <mat-panel-description>
                    <div *ngIf="selectedMonth == month && selectedYear == year">
                        <div class="download-button">
                            <button mat-icon-button color="primary" (click)="downloadTransactions()">
                                <mat-icon>sim_card_download</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8" full-width-table>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let expense">{{expense.name}}</td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let expense">{{expense.amount}}</td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Category</th>
                    <td mat-cell *matCellDef="let expense">{{expense.category}}</td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let expense">{{expense.date | date: 'MM/dd/yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="payment">
                    <th mat-header-cell *matHeaderCellDef>Mode of Payment</th>
                    <td mat-cell *matCellDef="let expense">{{expense.payment}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
        </mat-expansion-panel>
    </mat-expansion-panel>
</mat-accordion>
